[submodule "cmake"]
	path = deps/opentxs-cmake
	url = https://github.com/Open-Transactions/opentxs-cmake
	shallow = true
[submodule "deps/ChaiScript"]
	path = deps/ChaiScript
	url = https://github.com/FellowTraveler/ChaiScript
	shallow = true
[submodule "deps/lucre"]
	path = deps/lucre
	url = https://github.com/Open-Transactions/lucre.git
	shallow = true
[submodule "deps/simpleini"]
	path = deps/simpleini
	url = https://github.com/brofield/simpleini.git
	shallow = true
[submodule "deps/smhasher"]
	path = deps/smhasher
	url = https://github.com/aappleby/smhasher
	shallow = true
[submodule "deps/SHA1"]
	path = deps/SHA1
	url = https://github.com/983/SHA1
	shallow = true
[submodule "deps/bech32"]
	path = deps/bech32
	url = https://github.com/sipa/bech32
	shallow = true
[submodule "deps/packetcrypt/packetcrypt_rs"]
	path = deps/packetcrypt/packetcrypt_rs
	url = https://github.com/cjdelisle/packetcrypt_rs
	shallow = true
[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/Open-Transactions/secp256k1-abc
	shallow = true
[submodule "deps/cs_libguarded"]
	path = deps/cs_libguarded
	url = https://github.com/copperspice/cs_libguarded
	shallow = true
[submodule "tests/ottest/data/blockchain/ethereum"]
	path = tests/ottest/data/blockchain/ethereum
	url = https://github.com/ethereum/tests
	shallow = true
[submodule "deps/frozen"]
	path = deps/frozen
	url = https://github.com/Open-Transactions/frozen
	shallow = true
[submodule "deps/vcpkg-overlay"]
	path = deps/vcpkg-overlay
	url = https://github.com/Open-Transactions/vcpkg-overlay
	shallow = true
[submodule "tests/ottest/data/blockchain/cashtoken"]
	path = tests/ottest/data/blockchain/cashtoken
	url = https://github.com/bitjson/cashtokens
	shallow = true
[submodule "keccack-tiny"]
	path = deps/keccack
	url = https://github.com/Open-Transactions/keccak-tiny
	shallow = true
